*{
	margin: 0;
	
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.header{
	min-height: 100vh;
	width: 100%;
	background: #000000;
	color: #fff;
	position: reative;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 1;
}

.logo{
	text-decoration: none;
	color: #fff;
	font-size: 43px;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 10%;
}
.nav-links{
	text-align: right;
	background: #ff1616;
	padding: 10px 30px;
	border-bottom-left-radius: 18px;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 10px 25px;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}
.left-sidebar{
	width: 26%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #ff1616;
}
.row{
	padding: 0 10%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;
	margin-top: 5%;
}
.left-col{
	flex-basis: 40%;
}
.right-col{
	flex-basis: 60%;
}
.left-col img{
	width: 60%;
	cursor: pointer;
	filter: grayscale(0);
	transition: filter 1s;
	border-radius: 30px;
}
.left-col img:hover{
	filter: grayscale(1);
}

.right-col h1{
	color: #ffff66;
	font-size: 45px;
	font-weight: 600;
}
.right-col p{
	color: #fff;
	margin: 20px 0 70px;
}
.social-media{
	display: flex;
	margin-top: 30px;
}
.icon{
	width: 100px;
	height: 100px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 6px;
	overflow: hidden;
}
.icon img{
	width: 80px;
}
.icon a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ff1616;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: 0.5s;
}
.icon a:hover{
	opacity: 1;
}


